/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Oct, 2014, 1:39:31 PM
    Author     : ivy4216
*/
body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}
